.content {
    grid-area: c;
    background-color:brown;
}

.dialogs{
display: grid;
grid-template-columns: 1fr 1fr;

}

.dialogsItems {
    padding: 10px;
    color: white;
}
.dialogsItems .active {
    color: gold;

}
.dialog {
    padding: 10px;  
}


.messages{
padding: 10px;
}

.message {
color: WHITE;
}
